mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

mat-slide-toggle {
  font-size: .655em;
}

.content{
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

    > * {
      flex-basis: 100%;
    }
}

mat-card{
  //width: 400px;
}
